@page "/Module"
@using ModuleReview.Data.Models
@using ModuleReview.Services
@inject ModuleService moduleService

<PageTitle>Module View</PageTitle>
<h3>Module View</h3>

<EditForm FormName ="Form" Model=@module OnValidSubmit="HandleSubmit">
    <lable for="CodeInput">Code</lable>
    <InputText id=" CodeInput" @bind-Value="@module.Code"></InputText>

    <lable for="TitleInput">Title</lable>
    <InputText id=" TitleInput" @bind-Value="@module.Title"></InputText>

    <button type="submit" class="btn-primary">Create</button>
</EditForm>

@code {
    [SupplyParameterFromForm]
    Module module { get; set; } = new Module();

    public void HandleSubmit(EditContext editContext)
    {
        var newModule = (Module)editContext.Model;
        moduleService.Add(newModule);
    }

}
